@model prjMvcCoreDemo.Models.CShoppingCartItem

@{
    ViewData["Title"] = "CartView";
}

<h1>檢視購物車</h1>

<h4>CShoppingCartItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CartView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="productId" class="control-label"></label>
                <input asp-for="productId" class="form-control" />
                <span asp-validation-for="productId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="count" class="control-label"></label>
                <input asp-for="count" class="form-control" />
                <span asp-validation-for="count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="小計" class="control-label"></label>
                <input asp-for="小計" class="form-control" />
                <span asp-validation-for="小計" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
